.App {
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    text-align: center;
}

.app-header {
    background-color: #0a1a2d;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.app-main {
    /*display: flex;*/
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.app-dialog .modal-content {
    background-color: #143257;
}